:root {
  --main: #dc9e82;
  --accent: #c16e70;
  --background: #eff6ee;
  --foreground: #151e3f;
  --font: #030027;
  background: var(--background);
  color: var(--font);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 20vh;
  display: grid;
  justify-content: last baseline;
  text-align: center;
  gap: 20px;
  border-bottom: 2px solid var(--accent);
  padding: 20px;
  padding-bottom: 0px;
  background: var(--foreground);
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(assets/header-splash.avif);
  background-size: cover;
  filter: blur(5px); /* Adjust the blur value as needed */
  opacity: 0.2; /* Adjust the opacity value as needed */
  pointer-events: none;
}

h1 {
  opacity: 1;
  color: var(--main);
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
}

.tab-group {
  opacity: 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 50px;
  gap: 10px;
}

.tab {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: var(--main);
  border: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  transition: 0.3s;
}

.tab:hover {
  background-color: var(--accent);
  transform: scale(105%);
}

.body {
  height: 80vh;
  padding: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

div.image {
  background-image: url(./assets/meal-photo.avif);
}
